<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/logout">logout</a></li>
      <li><a href="#">second</a></li>
      <li><a href="#">therd</a></li>
    </ul>
  </div>
</nav>
